<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>moocfimage</name>
    <displayName>Cloudflare Image Optimization</displayName>
    <version>1.0.2</version>
    <description>Prepina PrestaShop paveikslėlių URL per Cloudflare /cdn-cgi/image transformacijas.</description>
    <author>moonia</author>
    <tab>administration</tab>
    <confirmUninstall>Ar tikrai norite išjungti Cloudflare image optimizavimą?</confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
    <ps_versions_compliancy>
        <min>9.0.0.0</min>
        <max><![CDATA[_PS_VERSION_]]></max>
    </ps_versions_compliancy>
</module>
